.sidebar {
  position: fixed;
  left: 0;
  width: 200px;
  height: 100%;
  background-color: #f8f8f8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.header {
  position: sticky;
  border-bottom: 1px solid #f8f8f8;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: white;
  align-items: center;
  display: flex;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.header_left {
  float: left;
}

.header_right {
  margin-left: auto;
}

/* あとで固定値じゃなく調整する */
.table {
  display: grid;
  grid-template-columns: repeat(10, 8px);
  grid-auto-rows: 1fr;
  margin-bottom: 5px;
}

.cell {
  aspect-ratio: 1;
}

.sidebar_open_button {
  position: absolute;
  top: 55px;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #f8f8f8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}
